= form_for(@story, :remote => true) do |f|
  %p
    - if @story.title
      = f.text_field :title, :value => @story.title
    - else 
      = f.text_field :title, :value => 'Title'
  .well
    %table
      %tr
        %td
          = f.label :actor, "As a"
        %td
          = f.text_field :actor
      %tr
        %td
          = f.label :goal, "I want to"
        %td
          = f.text_field :goal
      %tr
        %td
          = f.label :benefit, "So that"
        %td
          = f.text_field :benefit
  %p
    = f.label :priority
    %br/
    = f.text_field :priority
  %p
    = f.label :story_points
    %br/
    = f.text_field :story_points
  %p= f.submit "Create"
