%p 
  Story: #{@story.title} | 
  = link_to "Edit", edit_story_path(@story), :remote => true 
  = link_to "Destroy", @story, :remote => true, :confirm => 'Are you sure?', :method => :delete
%p
  As a: #{@story.actor}
  %br/ 
  I want to: #{@story.goal}
  %br/
  So that: #{@story.benefit}
%p Story Points: #{@story.story_points}
%p Priority: #{@story.priority if @story.priority}
