%h2 New User Story
= form_for @story do |f|
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :actor, "As a"
    %br/
    = f.text_field :actor
  %p
    = f.label :goal, "I want to"
    %br/
    = f.text_field :goal
  %p
    = f.label :benefit, "So that"
    %br/
    = f.text_field :benefit
  %p
    = f.label :priority
    %br/
    = f.text_field :priority
  %p
    = f.label :story_points
    %br/
    = f.text_field :story_points
  %p= f.submit "Create"
